.bagraund_nav
  background: rgb(220, 221, 229, 0.86)
.hero_text
  margin: auto
  // width: 600px
.my-title
  font-size: 52px
  font-weight: 600
  

// .my_photo
  // background: url('../img/hero/7.jpg') no-repeat
  // background-position: center right
  // background-size: contain
  // position: relative

@media (max-width: 720px)
  .hero_text
    margin: auto
    // width: 100%
    