.first_page
  display: flex
  justify-content: center
  flex-wrap: wrap
  align-items: center
  
.text
  align-content: center
  margin-bottom: 100px
  width: 500px
.photo
  max-width: 60%

@media (max-width: 1200px)