.my_photo
  // background: url('../img/hero/12.png') no-repeat
  // background-position: center right
  // background-size: contain
  // position: relative

@media (max-width: 500px)
  .text
    align-content: center
    margin-bottom: 100px
    max-width: 300px