.progress
  &_text
    text-indent: 50px 
  &_common
    width: 90%
    display: block
    margin: auto
    border: 5px solid rgb(127, 135, 139)
    padding: 5px
.portfolio
  &_slider_image
    margin: auto
  &_arrows
    max-width: 120px
    margin: auto
    margin-top: 50px
    display: flex
    justify-content: space-between
  &_arrows
    &_left, &_right
      &:hover
        cursor: pointer
  &_slider_image
    max-width: 320px